spring:
  application:
    name: agent-based-dev
  datasource:
    url: jdbc:mysql://localhost:3306/agent_dev?characterEncoding=utf-8&useSSL=false&serverTimezone=UTC
    username: root
    password: root
  redis:
    host: localhost
    port: 6379

logging:
  level:
    root: INFO
